<?xml version="1.0" encoding="utf-8"?>
<settings>
	<localRepository>D:/mavenTRepository</localRepository> 
	<servers>
		<server>
			<id>thirdparty</id>
			<username>admin</username>
			<password>admin123</password>
	</server>
	<server>
		<id>snapshots</id>
		<username>admin</username>
		<password>admin123</password>
	</server>
	<server>
		<id>releases</id>
		<username>admin</username>
		<password>admin123</password>
	</server>

	<server>
		<id>myserver</id>
		<username>admin</username> 
		<password>admin</password> 
	</server>

	</servers>
	<profiles>	   
		<profile>
			<id>public</id>
			<repositories>
				<repository>
					<id>public</id>
					<name>public private nexus</name>
					<url>http://10.101.0.2:8081/nexus/content/groups/public</url>
				</repository>
			</repositories>
		</profile>
		<profile>
			<id>thirdparty</id>
			<repositories>
				<repository>
					<id>thirdparty</id>
					<name>thirdparty private nexus</name>
					<url>http://10.101.0.2:8081/nexus/content/repositories/thirdparty</url>
				</repository>
			</repositories>
		</profile>
	</profiles>
	
	<activeProfiles>
		<activeProfile>public</activeProfile>
		<activeProfile>thirdparty</activeProfile>
	</activeProfiles>

  <pluginGroups>
    <pluginGroup>org.apache.tomcat.maven</pluginGroup>
  </pluginGroups>

</settings>
